// styles.scss

$mobile-pixel-display: 700px;
$global-font-family: "Helvetica Neue";

%headline-typography-desktop {
  font-family: $global-font-family;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 1.9700000286102295px;
};



