@import "../../Styles/Global.scss";

.signature-container {
  margin: 80px 0 0;
  display: flex;
  flex-direction: column;

  .signature-title {
    @extend %section-title-desktop;
  }

  .non-swiper-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (max-width: $mobile-pixel-display) {
    margin: 48px 0px 0px 20px;
    .signature-title {
      font-size: 18px;
      font-weight: 200;
      line-height: 24px;
      letter-spacing: 1.25px;
      text-align: left;
      margin-bottom: 17px;
    }

    .swiper-container {
      .swiper {
        .swiper-wrapper{
          .swiper-slide{
            height: 500px;

            .dish-card {
              
              height: 100%;
              .dish-props {
                .typeNingredients{
                  img {
                    
                  }
                }
              }
          }
          }
        }
      }
    }
  }
}
